@import url(base.css);
@import url(head.css);
@import url(personal_nav.css);


.nav ul li:nth-child(3) a{
	background: url(../img/header/headernav.jpg);
}

.information{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: #222 url(../img/personal/couple.png) no-repeat left bottom;
}

.information_left{ 
	width: 760px; 
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	background: url(../img/personal_information/center_bg_repeat.gif) repeat-y center;
}

.tip h1{ 
	margin: 30px 0px 30px 40px; 
	color: #871818; font-size: 40px; 
	letter-spacing: 10px; 
	float: left; 
}

.explain{ 
	width: 423px; 
	margin-top: 30px; 
	padding: 5px 10px; 
	float: left; 
	border-left: 3px solid #871818; 
}

.explain p{ 
	color: #C65353; 
	font-family: ""; 
}

.explain h2{ 
	color: #871818; 
}

.cut{ 
	clear: both; 
	width: 745px; 
	height: 10px; 
	margin: 0 auto; 
	background: #871818; 
}

.details{ 
	clear: both; 
}

h3{ 
	width: 260px; 
	height: 75px; 
	background: url(../img/personal_information/resumetip.png) no-repeat; 
	margin-top: 20px; 
	padding-left: 20px; 
	line-height: 75px; 
	font-size: 22px; 
}

.details{
	width: 623px;
	margin: 40px auto;
}

.user_left{
	width: 400px;
	float: left;
}

.userdetail{
	width: 100%;
	line-height: 50px;
}

.user_right{
	width: 200px;
	height: 200px;
	float: right;
	border: 1px solid #000;
	text-align: center;
}

#user_detail h4{
	margin-top: 30px;
}

#user_detail label{
	display: inline-block;
	font-family: "微软雅黑";
	width: 100px;
	line-height: 40px;
	font-size: 18px;
	text-align: right;
}

#user_detail input{
	width: 250px;
	height: 40px;
	border: 1px solid #999a97;
	box-shadow: 0 0 2px #999a97 inset;
	padding-left: 35px;
	border-radius: 4px;
}

#user_detail input[type="radio"]{
	width: 10px;
	height: 10px;
	line-height: 30px;
	vertical-align: middle;
	margin-left: 10px;
}

#user_detail input[type="submit"]{
	width: 290px;
	height: 40px;
	background: rgba(250,213,202,0.8) url(../img/login-register/login.jpg);
	margin: 40px 0 40px 180px;
	border: none;
	font-size: 18px;
	color: #ffffff;
	font-family: "黑体";
	text-align: left;
	padding-left: 100px;
	letter-spacing: 40px;
	cursor: pointer;
}

#user_detail input[type="file"]{
	width: 200px;
	line-height: 30px;
	padding-left: 0px;
	margin-top: 100px;
}
